<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="adede5">  <td>20/05/21 19:33:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.BookingFlight()[pri:2, instance:com.NewTours.TestScipts.NewTest@394e1a0f]">BookingFlight</td> 
  <td>main@662736689</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/05/21 19:33:48</td>   <td>4359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.ConfirmMessageCheck()[pri:3, instance:com.NewTours.TestScipts.NewTest@394e1a0f]">ConfirmMessageCheck</td> 
  <td>main@662736689</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/05/21 19:33:34</td>   <td>-9780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.Login()[pri:1, instance:com.NewTours.TestScipts.NewTest@394e1a0f]">Login</td> 
  <td>main@662736689</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/05/21 19:33:48</td>   <td>4708</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:com.NewTours.TestScipts.NewTest@394e1a0f]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662736689</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/05/21 19:33:24</td>   <td>-19814</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:com.NewTours.TestScipts.NewTest@394e1a0f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662736689</td>   <td></td> </tr>
</table>
